.header{

    display: flex;
    justify-content: space-between;
    padding: 24px 98px 24px 98px;
    align-items: center;
    border-bottom: 6px solid  #DAF2EF;
   
    
  }

  .menuh{

    display:flex;
    gap:132px;
    
  }

  .menuh a{

    
    text-decoration: none;
    font-size:40px;
    color: #128277;
    font-family: "Overpass";
  
  }