* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 
  html,
  body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }

  p {

    font-family:"Poppins";
    color:#128277;

  }

  .vBoton {
    height: 47px;
    width: 293px;
    left: 37px;
    top: 448px;
    border-radius: 10px;
    padding: 16px;


  }

  .container {
    display: flex;
    justify-content: center;
    width: 80%;
    border:solid;
    margin-left: 10%;
    
  }


  .ver {
    display: flex;
    flex-direction: column;
  }
  
  .escribir {
    display: flex;
    flex-direction: column;
   
  }

  .vDiario {
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: auto;
    margin: 148px 29px 50px 47px;
    background-color: #DAF2EF;
    width: 360px;
    align-items: center;
    padding: 20px 60px 20px 60px;
    
  }

  .eDiario {
    display: flex;
    flex-direction: column;
    gap: 80px;
    height: auto;
    margin: 148px 29px 50px 47px;
    background-color: #DAF2EF;
    width: 360px;
    align-items: center;
    padding: 20px 60px 20px 60px;
    
  }

  .eImg {

    background-color: white;
    padding: 20px 40px 20px 40px;
    
  }

  .vImg {

    background-color: white;
    padding: 20px 40px 20px 40px;
    
  }

  .eImg img{
    width: 85px;
    height: 100px;
  }
  

  .visualizarDiario {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    font-family: "Hind";
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    background: #ED5C18;
    padding: 10px 20px 10px 20px;
    border: solid #ED5C18 2px;
    text-decoration: none;
    width: 293px;
    height: 47px;
    left: 37px;
    top: 448px;
  }
  
  .visualizarDiario:hover {
    background: #FFFFFF;
    text-decoration: none;
    color: #ED5C18;

  }

 .vBoton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 293px;
  height: 47px;
  left: 37px;
  top: 448px;

  
 }

 .escribirDiario {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 10px;
  font-family: 'Hind';
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  background: #ED5C18;
  padding: 10px 20px 10px 20px;
  border: solid #ED5C18 2px;
  text-decoration: none;
  width: 293px;
  height: 47px;
  left: 37px;
  top: 448px;
}

.escribirDiario:hover {
  background: #FFFFFF;
  text-decoration: none;
  color: #ED5C18;

}

.eBoton {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 16px;
width: 293px;
height: 47px;
left: 37px;
top: 448px;


}